@keyframes rainbowAnimation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}


.rainbow-text {
  /* Applying the animated gradient to the text */
  background: linear-gradient(45deg, #003366, #004080, #00509e, #005bc5, #0072e5, #0086ff, #0099ff);
  background-size: 200% 200%;
  animation: rainbowAnimation 10s ease infinite;
  
  /* Clipping the background to the text */
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; /* Making the text color transparent */
  
  font-size: 2rem; /* Adjust as needed */
  font-weight: bold;

}

.top-image {
  background-image: url('../../assets/seascape.jpg');
}

